---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }}</title>
	{% include head.html %}
</head>
<body>
	<main class="content">
		<section class="intro">
			<div class="container">
				<h2>September 2024</h2>
				<p>{{ site.description }}</p>
				<h3>{{ site.subdescription }}</h3>
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<ul class="projects-list">
					{% for item in site.days %}
						<li class="project-item">
							<div class="project-image">
								<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
							</div>
							<div class="project-details">
								<span class="h2">{{ item.project.title }}</span>
								<p>{{ item.content }}</p>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
</body>
</html>